#cart
{
    display: none;
}
#title{
    text-align: center;
    font-size: 2    rem;
    padding: 2rem;
}
#classCart{
    margin:2rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap:20px;
      text-align: center;
      border: 1px solid black;
      background: black;
}
.select-mobile{
    border: 1px solid black;
    margin:2rem;
    background: white;
    color:black;
    padding-bottom: 1rem;
}